
body {
  margin: 4em auto;
  max-width: 950px;
  line-height: 2em;
  font-size: 1.2em;
  color: #444;
  padding: 0 10px;
  font-family: 'Besley';
  /* font-family: Cambria, Garamond, Georgia, "Times New Roman", serif;*/
  /* font-family: Helvetica, "Gill Sans", sans-serif;*/
}

.top {
/*      max-width: 650px;*/
  line-height: 1.6em;
}

a {
  color: #444;
}

h2, h3 {
  line-height: 1.2;
  text-align: center;
}

.paper {
  /*margin-top: 14px;*/
  /*line-height: 1.8;*/
}

.tinylink {
  color: #aaa;
}

p {
  line-height: 1.6em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

code {
  /*      font-size: 16px;*/
  background: #ddd;
  /*background: #fff;*/
  /*width: 100px;*/
  /*height: 100px;*/
  border-radius: 5px;

}
