body {
 max-width:650px;
 margin:40px auto;
 padding:0 10px;
 /*font-size:1.2em;*/
 /*font-family: -apple-system,BlinkMacSystemFont,"avenir next",avenir,"Segoe UI","lucida grande","helvetica neue",helvetica,"Fira Sans",roboto,noto,"Droid Sans",cantarell,oxygen,ubuntu,"franklin gothic medium","century gothic","Liberation Sans",sans-serif;*/
 color:#111;

 display: grid;
 grid-template-areas:
	 "header picture"
	 "address picture"
	 "contact picture"
	 "bio bio"
	 "pub pub";

}


.picture{grid-area: picture;}
.header{grid-area: header;}
.address{grid-area: address;}
.contact{grid-area: contact;}
.bio{grid-area: bio;}
.publications{grid-area: pub;}



h1 {
 text-transform: uppercase;
 text-decoration: underline;
 font-weight: 400;
}
h1,h2,h3 {
 line-height:1.2em;
 font-size: 1.2em;
}
code {
	color:#4e9fe3
}
p code {
    /*width: 30em;*/
    overflow-x: auto;
    white-space: nowrap;
}




#small {
	font-size: 0.8em;
	font-weight: 300;
}

#name {
	font-size: 2em;
	font-weight: 700;
}

.contact p{
	font-family: helvetica;
	padding: 0px;
	margin: 0px;
	line-height: 1.2;
}

.date {
	float: left;
	margin-left: -80px;
	font-size: 0.8em;
	font-weight: 300;
	line-height: 16.25px;
	vertical-align: bottom;
	/*text-align: right;*/
}

#research-experience-info .date {
	float: left;
	margin-left: -220px;
	font-size: 0.8em;
	font-weight: 300;
	line-height: 16.25px;
	vertical-align: bottom;
	/*text-align: right;*/
}

.dateInfo {
	/*float: right;*/
	text-align: left;
}

#contact a{
	font-family: helvetica;
	padding: 0px;
	margin: 0px;
	line-height: 1.2;
}

#res {
	font-family: sans-serif;
}

